// =======font-family=====
$font-family:'Vanio Trial';
// $font-family: 'Baskerville', sans-serif;
// =====color=====
$clr-ab:#336797;
$clr-white:#fff;
$clr-grey:rgb(230, 218, 218);
$navbar-clr: #DC0908;
$about-bg: #ECECEC;
$btn-clr: #E30F0F;
$as3-1: #ECECEC;
$as3-2: #EBE2DB;
$service-s3: #1E1C1C;
$service-c1: #FB004B;
$grey-bg: #ECECEC;
$btn-clr2: #FB004B;
// * Menu */
//  font-family: 'Vanio Trial';
//  Size : 108Px
 
//  /* Make your Own style */
//  Font-family: 'Impact';
//  font-size : 108Px
 
//  /* pERFECT hAIRCUTS */
//  font-family: 'Sulphur Point';
//  Size: 40
 
//  /* Heading */
//  font-family: 'Sulphur Point';
//  size : 83
 
//  /* Content. */
//  font-family: 'Sulphur Point';
//  font-size: 24px;
 